* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: auto;
  width: 100%;
}

/* HEADER CSS 1100px */
header {
  background-color: black;
}
header .headerDiv {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.navbarDiv {
  display: flex;
  align-items: flex-end;
}

.navbar-brand {
  font-size: 40px;
  text-transform: uppercase;
}
.navbar-brand a {
  color: white;
  text-decoration: none;
  margin-left: 30px;
}
.navbar-brand a:hover {
  color: grey;
}

/* FIN HEADER CSS */
/* MAIN INDEX CSS */
.carousel {
  border: 3px solid black;
  margin-bottom: 10px;
  margin-top: 10px;
}
.carousel .carrouselSize {
  width: 100%;
  height: 500px;
  object-fit: contain;
}
.carousel .buttonCarousel {
  color: black;
  border-radius: 50%;
  opacity: 1;
}

.divJoggers {
  margin-top: 30px;
  margin-bottom: 30px;
}
.divJoggers img {
  border: 5px solid black;
  margin-bottom: 30px;
}

.buttonAllProducts {
  text-align: center;
  border: 2px dashed grey;
  border-radius: 30px;
  font-size: 25px;
  color: black;
  background-color: grey;
  margin-left: 40%;
}

.aboutUsIndex {
  padding-top: 60px;
}
.aboutUsIndex h2 {
  font-size: 30px;
}
.aboutUsIndex p {
  font-size: 20px;
}

.aboutUsImagenSize {
  padding-top: 20px;
  width: 100%;
  height: 400px;
}

/* Main Sizetable CSS */
.tablaTitulo {
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 42px;
  text-align: center;
  text-decoration: underline;
  padding-top: 30px;
}

.tablaHombreSubtitulo {
  padding-top: 30px;
  color: blue;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-decoration: underline;
  text-align: center;
}

.tablaMujerSubtitulo {
  padding-top: 30px;
  color: rgb(132, 64, 76);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-decoration: underline;
  text-align: center;
}

/* Fin Sizetable CSS */
/* Productos css */
.tituloProductos {
  font-size: 32px;
  text-decoration: underline;
  text-align: left;
  margin-bottom: 30px;
}

/* Button all products sections */
.todosLosProductos {
  width: 99.7%;
  height: 80px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  outline: none;
  border: 1px solid #000;
  color: white;
  background: transparent;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.todosLosProductos:hover:after {
  top: 0;
  text-align: center;
  left: 0;
}

.todosLosProductos:after {
  content: "";
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 5px;
  left: 5px;
  transition: 0.2s;
  background-color: #6c757d;
  text-align: center;
}

/* ------------------ */
.divProductos {
  display: grid;
  grid-template-areas: "primerArticle segundoArticle tercerArticle" "cuartoArticle quintoArticle sextoArticle" "septimoArticle octavoArticle novenoArticle" "decimoArticle decimoArticle decimoArticle";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 25%);
  text-decoration: underline;
  text-transform: capitalize;
  color: rgb(63, 61, 61);
  margin-left: 10px;
}

.tituloProductos {
  color: white;
  background-color: #6c757d;
  padding-top: 30px;
  padding-bottom: 30px;
  text-decoration: none;
  text-align: center;
}

.primerArticle {
  grid-area: primerArticle;
  text-align: center;
  border: 4px #000 solid;
}
.primerArticle h3 {
  text-align: center;
  margin-bottom: 50px;
}
.primerArticle img {
  width: 70%;
  height: 50%;
  margin-bottom: 30px;
}

.segundoArticle {
  grid-area: segundoArticle;
  text-align: center;
  border: 4px #000 solid;
}
.segundoArticle h3 {
  text-align: center;
  margin-bottom: 20px;
}
.segundoArticle img {
  width: 70%;
  height: 50%;
  margin-bottom: 30px;
}

.tercerArticle {
  grid-area: tercerArticle;
  text-align: center;
  border: 4px #000 solid;
}
.tercerArticle h3 {
  text-align: center;
  margin-bottom: 20px;
}
.tercerArticle img {
  width: 70%;
  height: 50%;
  margin-bottom: 30px;
}

.cuartoArticle {
  grid-area: cuartoArticle;
  text-align: center;
  border: 4px #000 solid;
}
.cuartoArticle h3 {
  text-align: center;
  margin-bottom: 20px;
}
.cuartoArticle img {
  width: 70%;
  height: 50%;
  margin-bottom: 30px;
}

.quintoArticle {
  grid-area: quintoArticle;
  text-align: center;
  border: 4px #000 solid;
}
.quintoArticle h3 {
  text-align: center;
  margin-bottom: 20px;
}
.quintoArticle img {
  width: 70%;
  height: 50%;
  margin-bottom: 30px;
}

.sextoArticle {
  grid-area: sextoArticle;
  text-align: center;
  border: 4px #000 solid;
}
.sextoArticle h3 {
  text-align: center;
  margin-bottom: 20px;
}
.sextoArticle img {
  width: 70%;
  height: 50%;
  margin-bottom: 30px;
}

.septimoArticle {
  grid-area: septimoArticle;
  text-align: center;
  border: 4px #000 solid;
}
.septimoArticle h3 {
  text-align: center;
  margin-bottom: 20px;
}
.septimoArticle img {
  width: 70%;
  height: 50%;
  margin-bottom: 30px;
}

.octavoArticle {
  grid-area: octavoArticle;
  text-align: center;
  border: 4px #000 solid;
}
.octavoArticle h3 {
  text-align: center;
  margin-bottom: 20px;
}
.octavoArticle img {
  width: 70%;
  height: 50%;
  margin-bottom: 30px;
}

.novenoArticle {
  grid-area: novenoArticle;
  text-align: center;
  border: 4px #000 solid;
}
.novenoArticle h3 {
  text-align: center;
  margin-bottom: 20px;
}
.novenoArticle img {
  width: 70%;
  height: 50%;
  margin-bottom: 30px;
}

.decimoArticle {
  grid-area: decimoArticle;
  text-align: center;
  border: 4px #000 solid;
}
.decimoArticle h3 {
  text-align: center;
}
.decimoArticle img {
  width: 60%;
  height: 60%;
  margin-bottom: 30px;
}

/* Fin productos CSS */
/* Articles */
.divArticleBuzo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}
.divArticleBuzo article {
  text-align: center;
  width: 50%;
  height: 470px;
  margin-left: 45px;
  margin-right: 45px;
  border: 4px #000 solid;
}
.divArticleBuzo img {
  width: 75%;
  height: 300px;
}

.divArticleRemera {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}
.divArticleRemera article {
  text-align: center;
  width: 50%;
  height: 470px;
  margin-left: 45px;
  margin-right: 45px;
  border: 4px #000 solid;
}
.divArticleRemera img {
  width: 75%;
  height: 300px;
}

.divArticleConjuntos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}
.divArticleConjuntos article {
  text-align: center;
  width: 50%;
  height: 470px;
  margin-left: 45px;
  margin-right: 45px;
  border: 4px #000 solid;
}
.divArticleConjuntos img {
  width: 75%;
  height: 300px;
}

.divArticleAccs {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}
.divArticleAccs article {
  text-align: center;
  width: 50%;
  height: 470px;
  margin-left: 45px;
  margin-right: 45px;
  border: 4px #000 solid;
}
.divArticleAccs img {
  width: 75%;
  height: 300px;
}

.divArticleJogger {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}
.divArticleJogger article {
  text-align: center;
  width: 50%;
  height: 470px;
  margin-left: 45px;
  margin-right: 45px;
  border: 4px #000 solid;
}
.divArticleJogger img {
  width: 75%;
  height: 300px;
}

.divArticleBermuda {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}
.divArticleBermuda article {
  text-align: center;
  width: 50%;
  height: 470px;
  margin-left: 45px;
  border: 4px #000 solid;
}
.divArticleBermuda img {
  width: 75%;
  height: 300px;
}

/* Fin Articles */
/* FAQ CSS */
.divFaq h2 {
  padding-top: 10px;
  color: rgb(85, 20, 32);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-decoration: underline;
  font-size: 20px;
}

.googleMaps {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 60%;
  bottom: 150px;
}

/* Fin FAQ CSS */
/* Contact CSS */
.contactDiv {
  padding-bottom: 30px;
}
.contactDiv h2 {
  text-align: center;
  text-decoration: underline;
  font-size: 32px;
  color: rgb(77, 64, 64);
  padding-top: 30px;
  margin-bottom: 30px;
}
.contactDiv h3 {
  text-align: center;
  text-decoration: underline;
}

.form-group {
  margin: 0;
}

/* Fin contact css */
/* About us CSS */
.aboutUs h2 {
  color: rgb(157, 109, 116);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", "Geneva", "Verdana", "sans-serif";
  text-decoration: underline;
  padding-top: 10px;
}
.aboutUs p {
  width: 100%;
  height: auto;
}
.aboutUs ul {
  list-style-type: none;
}

.materialDiv {
  width: 60%;
  height: auto;
  padding-top: 30px;
}
.materialDiv h2 {
  color: rgb(85, 20, 32);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", "Geneva", "Verdana", "sans-serif";
  text-decoration: underline;
  padding-top: 10px;
}
.materialDiv dl {
  list-style-type: square;
  text-align: left;
}
.materialDiv li {
  padding-left: 10px;
  text-transform: uppercase;
}

/* Fin About us CSS */
/* FOOTER CSS */
footer {
  background-color: black;
  color: white;
  height: auto;
  width: 100%;
  margin-top: 60px;
}

.divFootNavegacion h3 {
  font-size: 24px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}
.divFootNavegacion li {
  text-decoration: none;
}
.divFootNavegacion a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.divFootPagos {
  text-align: center;
}
.divFootPagos h3 {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}
.divFootPagos div {
  margin: 5px 10px 5px 5px;
}
.divFootPagos i {
  font-size: 30px;
  padding: 5px 10px 5px 5px;
}

.divFootRedes {
  text-align: center;
}
.divFootRedes h3 {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}
.divFootRedes a {
  font-size: 30px;
  padding: 10px 10px;
  color: white;
}

.footerFontSizeNews {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* Responsive index */
@media only screen and (max-width: 480px) {
  body {
    width: 100%;
  }

  .barraBusquedaHeader {
    display: block;
    align-items: center;
    height: 30px;
    width: 100%;
  }

  img {
    width: 100%;
  }

  .menuPadre {
    width: 100%;
    text-align: center;
    float: left;
    display: block;
  }

  .menuHijo {
    width: 100% !important;
    text-align: center;
    float: left;
  }

  .carrouselSize {
    width: 100%;
    height: auto;
  }

  .aboutUsIndex {
    height: 400px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .aboutUsIndex .tituloAboutUsIndex {
    font-size: 30px;
    margin-bottom: 3px;
    padding-left: 30px;
  }

  .aboutUsIndex .parrafoAboutUsIndex {
    font-size: 20px;
    height: 300px;
    width: 100%;
    padding-top: 30px;
    padding-left: 32px;
    position: relative;
  }

  .aboutUsIndex .aboutUsImagenForm {
    display: block;
  }

  .aboutUsIndex .aboutUsImagenForm .aboutUsImagenSize {
    width: 100%;
    height: 300px;
    position: relative;
    left: 0;
  }

  .newsletterImputCorreo {
    width: 100%;
  }

  footer {
    position: relative;
    margin-top: 260px;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 250px;
  }

  /* faq responsives */
  .googleMaps {
    width: 100%;
    height: 300px;
    position: relative;
    left: 0;
    margin-top: 170px;
  }
}

/*# sourceMappingURL=estilos.css.map */
